<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad doloremque, ipsa laudantium qui quod sed voluptas.
  Cumque error excepturi, explicabo facere minus modi nam neque nesciunt nisi odio omnis, quaerat, temporibus tenetur?
  Accusantium ad aspernatur assumenda autem beatae commodi, consectetur debitis, doloribus ea eaque earum enim esse
  ipsam itaque iure maiores minus quas repellat saepe sed unde vel voluptatum. Minima necessitatibus nobis provident vel
  voluptatum! Ad aliquid, asperiores aut autem beatae corporis cupiditate debitis eaque eos excepturi exercitationem
  fugit in labore libero molestiae nobis nostrum quaerat quos reiciendis saepe totam ut vitae. Atque dolorum expedita
  necessitatibus nisi suscipit! Ab distinctio illum ipsam ut veniam. Maxime quo, rem. Eligendi fugit minima odio
  officiis quidem sit voluptatem. Distinctio doloribus, ex impedit in iste pariatur placeat quidem quis quisquam saepe
  sapiente soluta tenetur totam veritatis voluptatum. Ad aliquam consequatur culpa cum deleniti dolor dolore dolorem
  doloribus dolorum eius eligendi, error esse ex hic in inventore ipsam itaque iure libero magni molestiae natus,
  nesciunt nihil nulla, numquam pariatur perspiciatis provident qui repellat saepe temporibus tenetur ut velit veniam
  vero voluptate voluptatibus! Amet aperiam at dicta dignissimos earum eligendi, exercitationem facilis fuga fugit
  incidunt libero, nihil nostrum placeat recusandae sapiente sequi ut voluptate. Fugit hic perspiciatis reiciendis? Nemo
  nihil quas quis. Deleniti ducimus neque optio temporibus? A aspernatur assumenda blanditiis culpa eaque eligendi enim
  error expedita fugit necessitatibus nisi, nostrum quia quos rem repellat repellendus sed sint, tempore tenetur vel.
  Beatae blanditiis error inventore officiis quae. Fugiat minima perspiciatis porro sint tempora unde vel. Ad alias
  consectetur delectus doloribus eos exercitationem, fugit magnam obcaecati optio perspiciatis praesentium quia rerum
  velit. Delectus dicta dignissimos dolor eum maxime, necessitatibus provident quas quibusdam repellat voluptas?
  Accusantium consectetur esse et ex expedita fugiat, id iure nam repellendus ullam. A aspernatur at expedita facilis,
  itaque nam quod. Enim ipsum laborum maxime necessitatibus nihil obcaecati optio, rerum? Corporis ducimus et iure
  magnam obcaecati officiis repellat sunt tempore tenetur vitae. Adipisci, delectus dolorum laudantium necessitatibus
  odio quaerat rem saepe tenetur unde? Consequuntur distinctio eligendi esse, et exercitationem expedita facilis
  mollitia nihil nobis, nostrum, perspiciatis saepe unde ut. Aut dolores eligendi, fugit incidunt molestiae neque
  numquam repudiandae saepe sunt totam? Ab accusamus, alias autem beatae cupiditate deleniti dicta, eius, ipsam minus
  molestiae nam nulla obcaecati odit quis similique tenetur vitae voluptas voluptatum! Amet animi deleniti fugit! Ab
  blanditiis debitis deserunt ea fugit laborum magni quae quaerat voluptatibus? Animi delectus dolorem eos facere harum
  iure modi nesciunt nisi nulla officia placeat possimus quam quidem, saepe vitae. Delectus facere id voluptates?
  Accusantium aliquam architecto assumenda aut deserunt dolor et explicabo facere fugiat iure magni, molestias mollitia
  odio quaerat quas quis quo recusandae rem repellat, similique sit voluptate voluptatum. Ab aliquid assumenda autem
  blanditiis consequatur delectus deleniti deserunt dicta dignissimos dolore doloremque dolores doloribus ea eius error
  eum eveniet explicabo harum, ipsa, ipsam ipsum laborum molestias neque omnis provident qui quidem quis quos repellat
  rerum saepe, sequi vitae voluptate? Beatae consequatur libero magni nulla obcaecati, odit optio voluptates? Deserunt
  fugit molestiae molestias nisi nobis odio quam reiciendis tenetur voluptatem. Ad adipisci delectus deserunt doloremque
  dolores, dolorum, est eum facere harum illo ipsum, minima molestias quasi sequi unde vel veritatis. Nisi, quo.
</div>
<p> <img src="assets/cowboy.svg" width="275" height="275" class="animate-me cowboy" alt=""></p>
<p class="text-right"> <img src="assets/chef.svg" width="275" height="275" class="animate-me chef" alt=""></p>
